[submodule "GCGen"]
	path = GCGen
	url = https://github.com/EvgenyPinezhanin/GCGen
[submodule "DiRect"]
	path = DiRect
	url = https://github.com/EvgenyPinezhanin/DiRect
[submodule "mpreal"]
	path = mpreal
	url = https://github.com/advanpix/mpreal
